
:root {
    --primary-bg-color: rgb(4, 1, 37);
    --choice-color: rgb(0, 255, 247);
    --item-color: rgb(255, 251, 0);
    --border-color: rgb(61, 106, 255);
    --button-color: rgb(0, 255, 247);
    --border-gradient-color-1: rgb(0, 29, 31);
    --border-gradient-color-2: rgb(0, 236, 253);
    --escape: rgb(155, 4, 220);
    --savior: rgb(30, 224, 0);
    --destruction: rgb(181, 7, 7);
    --Gali: rgb(41, 91, 255);
    --character: rgb(223, 145, 27);
    --dialogue: rgb(224, 0, 187);
    --actions: rgb(142, 142, 142);
    --enemy-name: yellow;
}


* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    touch-action: manipulation;
}

body, button {
    color: white;
    font-family: 'Oxanium';
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

button {
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;
}

span {
    overflow-wrap: anywhere;
    display: block;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.icon {
    background-color: transparent;
    border: none;
    aspect-ratio: 1 / 1;
}

.story-history {
    color: white;
}

.choice-history {
    color: var(--choice-color);
}

.action-history {
    color: yellow;
}

.clip-border::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 8px;
    bottom: 4px;
    right: 8px;
    z-index: -1;
}

#loading-screen {
    background-color: black;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition: 1000ms;
}

#loading-screen.hidden {
    display: block;
    opacity: 0;
    pointer-events: none;
}

#loading-buffers {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 5rem;
    justify-content: center;
}

#loading-buffers > * {
    position: relative;
}


.buffer-wrapper {
    position: relative;
}

.buffer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.buffer-img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    translate: -50%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#background-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    user-select: none;
}

#particle-canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

#main-nav {
    position: absolute;
    padding: 1.5rem;
    background-color: var(--border-color);
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    z-index: 5;
    clip-path: polygon(0 0, 90% 0, 93% 5%, 100% 5%, 100% 100%, 14% 100%, 11% 95%, 0 95%);
    max-width: 100%;
}

#main-nav::before {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    background-color: var(--primary-bg-color);
    clip-path: polygon(0 0, 90% 0, 93% 5%, 100% 5%, 100% 100%, 14% 100%, 11% 95%, 0 95%);
}

#main-nav ul {
    list-style: none;
    display: flex;
    overflow-y: auto;
    gap: 1rem;
}

#main-nav button {
    padding: 1rem;
    color: var(--button-color);
    border: solid 1px;
    border-radius: 4px;
    box-shadow: inset 0 0 8px;
    font-size: 20px;
    transition: 200ms ease;
}

.button-future-1 {
    border: solid 1px;
    box-shadow: inset 0 0 8px;
    border-radius: 4px;
    padding: 1rem;
}

#main-nav button:hover,
#main-nav button:focus-visible,
.button-future-1:hover,
.button-future-1:focus-visible {
    box-shadow: inset 0 0 10px 4px;
    outline: none
}

#main-nav button:active {
    scale: .9;
}

#dark-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.466);
    pointer-events: none;
    z-index: 4;
    transition: 200ms ease;
}

#dark-overlay.hidden {
    display: block;
    opacity: 0;
}

#center-menu {
    position: absolute;
    padding: 2rem 1rem;
    border: solid 3px var(--border-color);
    left: 50%;
    top: 50%;
    width: clamp(0px, 85%, 1180px);
    height: clamp(10rem,65%,80rem);
    min-height: 8rem;
    max-height: calc(100% - 5rem);
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--primary-bg-color);
    z-index: 5;
    user-select: none;
    transition: all 200ms ease;
}    

#center-menu.hidden {
    transform: translate(-50%, -90%) scale(.5);
    pointer-events: none;
    opacity: 0;
    display: block;
}    

#center-menu .menu-content {
    overflow: hidden;
    height: 100%;
    position: relative;
}

#center-menu section {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0
}

#center-menu h2 {
    width: 100%;
}

#history {
    flex-direction: column;
}

#history-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    border: double 4px rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

#playersheet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
    scrollbar-width: none;
}

#playersheet > div {
    border: double 4px rgba(255, 255, 255, 0.5);
    flex-basis: clamp(10rem, 45%, 30rem);
    flex-grow: 1;
    padding: 1rem;
    height: clamp(8rem, 30%, 30%);
    scrollbar-width: none;
    overflow: auto;
}

#inventory-container {
    overflow: hidden;
}

#inventory {
    height: 100%;
}

#inventory .item-container {
    cursor: pointer;
    width: fit-content;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: 150ms ease;
}

#inventory .item-container:hover {
    scale: 1.1;
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.651))
}

#settings {
    flex-direction: column;
}

#settings-content {
    padding-top: 2rem;
}

#playersheet > #item-info-container {
    height: clamp(10rem, 40%, 40%);
}

#menu-toggle {
    position: absolute;
    background-image: url(imgs/icons/x.svg);
    background-size: contain;
    right: 1rem;
    top: 1rem;
    width: 1.2rem;
}

#dialogue-box {
    position: absolute;
    left: 50%;
    bottom: clamp(1rem, 3rem, 5vh);
    transform: translateX(-50%);
    width: clamp(0px, 82%, 1090px);
    min-height: 7em;
    height: 50%;
    max-height: 15rem;
    container-type: inline-size;
    transition: 150ms ease;
    z-index: 2;
    padding: 0 1rem;
    filter: drop-shadow(0 0 1px var(--border-gradient-color-2));
}

#dialogue-box .content {
    position: absolute;
    padding: 2rem;
    padding-left: clamp(3rem, 4% + 1rem, 5rem);
    padding-right: clamp(2rem, 4%, 4rem);
    padding-top: clamp(8px, 5%, 2rem);
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    color: white;
    height: fit-content;
    max-height: calc(100% - 2rem);
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#dialogue-box .clip-small {
    position: absolute;
    top: 4px;
    left: 8px;
    bottom: 4px;
    right: 8px;
    background-color: var(--primary-bg-color);
    z-index: -1;
    clip-path: polygon(0 0, 50% 0, 55% 5%, 100% 5%, 100% 90%, 97% 100%, 2% 100%, 2% 33%, 0 20%);
}

#dialogue-box .clip-large {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color: var(--border-color); */
    z-index: -2;
    clip-path: polygon(0 0, 50% 0, 55% 5%, 100% 5%, 100% 90%, 97% 100%, 2% 100%, 2% 33%, 0 20%);
}

#dialogue-box .clip-large::before {
    content: "";
    position: absolute;
    width: 1000%;
    height: 1000%;
    opacity: .5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: repeating-conic-gradient(from 0deg at 50% 50%, var(--border-gradient-color-1) 0%, var(--border-gradient-color-2) 100%);
    animation: rotate 60000ms linear infinite;
}

.text {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    width: 100%;
}

#choices,
#battle-input {
    display: grid;
    justify-content: space-between;
    pointer-events: visiblePainted;
    grid-template-columns: repeat(auto-fill, clamp(8rem, 25%, 12rem));
    gap: 1rem;
}

.choice:hover,
.choice:focus-visible {
    box-shadow: inset 0 0 10px 4px;
    outline: none;
}

.choice .text-line {
    margin: auto;
    width: fit-content;
    justify-content: center;
}

.choice .text-line .transition-word{
    flex-wrap: wrap;
}

.choice {
    background: none;
    margin-top: 1rem;
    color: var(--choice-color);
    box-shadow: inset 0 0 8px;
    border: solid 1px;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    transition: 200ms ease;
}

@container (max-width: 20rem) {
    #choices,
    #battle-input {
        justify-content: space-around;
    }
  }
  
.text-line {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.timing-target,
.timing-indicator{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 10rem;
    width: 10rem;
    
}

.timing-target {
    border: solid 2px white;
    border-radius: 999rem;
}

.timing-target.solid {
    background-color: rgb(0, 199, 0);
    border: unset;
    border-radius: 0;
}

.timing-indicator {
    border: solid 2px white;
    scale: 0;
    border-radius: 0;
}

.timing-indicator.solid {
    background-image: radial-gradient(rgba(92, 0, 0, 0.75), rgba(173, 0, 0, 0.75));
    border-radius: 999rem;
    border: unset;
}

.item-count {
    color: yellow;
}

.health {
    color: red;
}

.strength {
    color: rgb(245, 139, 0);
}

.agility {
    color: rgb(85, 255, 0);
}

.green {
    color: rgb(0, 199, 0);
}

.text-glow {
    animation: text-glow 1s ease infinite alternate;
}

.transition-word {
    display: flex;
    align-items: center;
}

.transition-character {
    width: fit-content;
    height: fit-content;
    white-space: pre;
}

.transition-character.default {
    animation: text-default 150ms ease;
}

.transition-character.impact {
    animation: text-impact 300ms ease;
}

.transition-character.funky {
    animation: text-default 150ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.transition-character.shaky {
    animation: text-shaky 1500ms linear;
}

.transition-character.blur {
    animation: text-blur 300ms ease;
}

.transition-character.fade-alternate:nth-child(odd) {
    animation: text-fade-odd 300ms ease;
}
.transition-character.fade-alternate:nth-child(even) {
    animation: text-fade-even 300ms ease;
}

@keyframes fade-out {
    from {opacity: unset;}
    to {opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: unset;}
}

@keyframes blur-out {
    from {filter: unset;}
    to {filter: blur(16px);}
}

@keyframes blur-in {
    from {filter: blur(16px);}
    to {filter: unset;}
}

@keyframes grey-out {
    from {filter: unset;}
    to {filter: grayscale(1);}
}

@keyframes grey-in {
    from {filter: grayscale(1);}
    to {filter: unset;}
}

@keyframes grow {
    from {scale: 1}
    to {scale: 1.5}
}

@keyframes shrink {
    from {scale: 1.5}
    to {scale: 1}
}

@keyframes rotate {
    from {rotate: 0deg}
    to {rotate: 360deg}
}

@keyframes shake {
    0% {
        translate: -10%;
    }
    100% {
        translate: 10%;
    }
}


/* TEXT KEYFRAMES */

@keyframes text-default {
    0% {
        transform: translate(0px, -1em);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes text-impact {
    0% {
        transform: translate(0, -1em) scale(5);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes text-funky {
    0% {
        transform: translate(-2em, -2em) scale(3) rotate(90deg);
        opacity: 0;
        color: rgb(255, 255, 141);
    }
    80% {
        transform: none;
        opacity: 1;
        color: rgb(255, 255, 141);
    }
    100% {
        color: unset;
    }
}

@keyframes text-blur {
    0% {
        opacity: 0;
        filter: blur(16px)
    }
    100% {
        filter: none;
    }
}

@keyframes text-shaky {
    0% {
        translate: 2em -2em;
        scale: 5;
        opacity: 0;
    }
    25% {
        translate: -1.5em -1.5em;
    }
    50% {
        translate: 1em -1em;
    }
    75% {
        translate: -.5 -.5em;
    }
    100% {
        translate: 0;
        scale: 1;
        opacity: 1;
    }
}

@keyframes text-fade-odd {
    0% {
        transform: translate(0px, -1em);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes text-fade-even {
    0% {
        transform: translate(0px, 1em);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes text-glow {
    0% {
        text-shadow: 0 0 2px;
    }
    100% {
        text-shadow: 0 0 5px;
    }
}

@keyframes text-shiver {
    0% {
        translate: 0 -10%;
    }
    100% {
        translate: 0 10%;
    }
}

#preload {
    visibility: hidden;
}
